.main h2 {
    margin-bottom: 2em;
}

.listgrid {
    --list-projects: 4;
    --project-width: 250px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--list-projects), var(--project-width));
    gap: 2em;
}

@media only screen and (max-width: 1024px) {
    .listgrid {
        --list-projects: 3;
        --project-width: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .listgrid {
        --list-projects: 2;
        --project-width: 250px;
    }
}

@media only screen and (max-width: 425px) {
    .listgrid {
        --list-projects: 1;
        --project-width: 200px;
    }
}

@media only screen and (max-width: 375px) {
    .listgrid {
        --list-projects: 1;
        --project-width: 200px;
    }
}

@media only screen and (max-width: 320px) {
    .listgrid {
        --list-projects: 1;
        --project-width: 200px;
    }
}