.topbar {
  background-color: rgb(var(--card-border-rgb));
  padding: .5em;
}

.main {
  min-height: 100vh;
  display: flex;
}

.head {
  display: flex;
  justify-content: center;
}

.content {
  border-color: rgb(var(--card-border-rgb));
  border-width: 5px;
  border-style: solid;
  border-left-width: medium;

  width: calc(100% - 200px);
}

.content_items {
  display: flex;
}

.content_item {
  border-color: rgb(var(--card-border-rgb));
  border-style: solid;
  border-width: 0;
  border-bottom-width: 5px;
}

.content_item>div {
  padding: 2em;
}

.content_right {
  border-color: rgb(var(--card-border-rgb));
  border-style: solid;
  border-width: 0;
  border-left-width: 5px;
}

.content_item_last {
  border-bottom-width: 0;
}

@media only screen and (max-width: 980px) {
  .content_items {
    display: block;
  }

  .content_right {
    border-width: 0;
    border-top-width: 5px;
  }
}