.main {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main h1 {
    font-size: 38px;
}

.main p {
    margin: 1em;
}

.social {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.social a {
    color: var(--font-color);
    width: 32px;
}