.main {
    position: fixed;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: var(--bg-color);
}

.links {
    display: flex;
    gap: 2em;
    color: var(--font-color);
}

.links a {
    color: var(--font-color);
}