@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    --bg-color: rgb(249, 254, 255);
    --font-color: black;
    --box-color: rgb(243, 215, 33);
}

[data-theme='dark'] {
    --bg-color: rgb(29, 34, 45);
    --font-color: aliceblue;
    --box-color: rgb(69, 159, 248);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}